/* Base CSS used on all pages of the Enhancement Tracking application. */

h1, h2, h3, p, a, div 
{
	text-align:center;
}

a:link, a:visited 
{
	color:blue;
}

a.open, td.open 
{
	color:green
}
a.closed, td.closed 
{
	color:red
}

.center 
{
	margin-left:auto;
	margin-right:auto;
}

.table-center 
{
	margin: 0 auto !important;
	float: none !important;
}
