{% extends "base.html" %}

{% block title %}Change Account Data{% endblock %}

{% block body %}

<h1>Change Account Data</h1>
<p style="width:30%;margin-left:auto;margin-right:auto">All fields are 
optional. Changing the User password requires entering of the previous 
User password.</p>
<br/>

<h2>Change Password</h2>
<form class="well" method="post">{% csrf_token %}
	{{ pwform.as_p }}
	<p><input name="password" type="submit" value="Submit Change" /></p>
</form>

<br/>

<h2>Change Profile</h2>
<form class="well" method="post">{% csrf_token %}
	{{ prform.as_p }}
	<p><input name="profile" type="submit" value="Submit Changes" /></p>
</form>

{% endblock %}
