{% extends "base.html" %}

{% block title %}Change Account Data{% endblock %}

{% block body %}

<h1>Change Account Data</h1>
<p>
	All fields are optional. Changing the User password requires entering of the
	previous User password.
	<br/>
	<a href="{% url home %}">Return to Home</a>
</p>

<h2>Change Password</h2>
<form class="well" method="post">{% csrf_token %}
	{{ password_change_form.as_p }}
	<div class="actions">
		<button name="password_input" type="submit"
			class="btn btn-primary">Submit Change</button>
	</div>
</form>
<br/>

<h2>Change Profile</h2>
<form class="well" method="post">{% csrf_token %}
	{{ profile_change_form.as_p }}
	<div class="actions">
		<button name="profile_input" type="submit"
			class="btn btn-primary">Submit Changes</button>
	</div>
</form>

<h2>Change Zendesk API Token</h2>
<form class="well" method="post">{% csrf_token %}
	{{ zen_token_change_form.as_p }}
	<div class="actions">
		<button name="zen_token_input" type="submit"
			class="btn btn-primary">Submit Change</button>
	</div>
</form>

<h2>Change GitHub Authorization</h2>
<form class="well">
	<p class="center" style="width:70%;">
		If you want to revoke GitZen's access to GitHub, go under the
		applications settings of the account settings of the GitHub user who
		authorized the access and click the "revoke" button for GitZen. If you
		want to authorize or renew authorization of GitZen's access to Github,
		click the button bellow.
	</p>
	<button type="button" class="btn btn-primary" 
		onClick="window.location.href='{{ auth_url }}'">
		GitHub Authorization</button>
</form>

{% endblock %}
