{% extends "base.html" %}

{% block title %}Confirmation{% endblock %}

{% block body %}
	<h2>Confirmation</h2>

	<p class="center" style="width:50%;">
	{% if con_num == '1' %}
		Your account was successfully created, but you must authorize GitZen on
		GitHub on the linked page to allow the application to access your
		repository data.
		<br/>
		<a href="{{ auth_url }}">GitHub Authorization Page</a>
	{% else %}
		{% if con_num == '2' %}
			Your account has been updated with the entered information.
			<br/>
			<a href="{% url home %}">Return to Homepage</a>
		{% else %}
			You should not be viewing this page.
		{% endif %}
	{% endif %}
	</p>
{% endblock %}
