{% extends "base.html" %}

{% block title %}User Creation Confirmation{% endblock %}

{% block extra_javascript %}
<script>
	$(document).ready(function() {
		$('#return_home_button').click(function() {
			window.location.href='{% url home %}';
		});
	});
</script>
{% endblock %}

{% block body %}
	<h2>Confirmation</h2>
	<p class="confirm_paragraph">
		The user {{ username }} has been created and added to the 
		{{ product_name }} group. This user has been emailed with information 
		on how to login to their account.
	</p>
	<button id="return_home_button" type="button" class="btn"
		>Return to Home</button>
{% endblock %}
