{% extends "base.html" %}

{% block title %}Access Confirmation{% endblock %}

{% block unobtrusive_javascript %}
<script>
	{% if new_user %}
		$(document).ready(function() {
			$('#return_login_button').click(function() {
				window.location.href='{% url login %}';
			});
		});
	{% else %}
		$(document).ready(function() {
			$('#return_home_button').click(function() {
				window.location.href='{% url home %}';
			});
		});
	{% endif %}
</script>
{% endblock %}


{% block body %}
	<h2>GitHub Access Confirmation</h2>

	{% if access %}
		<p class="center" style="width:50%;">
			You have successfully authorized GitZen to access your GitHub
			repository data.
		</p>
	{% else %}
		<p class="center" style="width:50%;">
			GitZen did not receive authorization to access your GitHub
			repository, so the application will not be able to function for this
			user. If you want to give this user's account access to GitHub, you
			can authorize their account under "Change Account Settings" after
			logging into the application.
		</p>
	{% endif %}
	{% if new_user %}
		<button id="return_login_button" type="button" class="btn"
			>Return to Login</button>
	{% else %}
		<button id="return_home_button" type="button" class="btn"
			>Return to Home</button>
	{% endif %}
{% endblock %}
