{% extends "base.html" %}

{% block title %}User Creation Confirmation{% endblock %}

{% block body %}
	<h2>Confirmation</h2>

	<p class="center" style="width:50%;">
		Your account was successfully created, but you must authorize GitZen
		on GitHub on the linked page to allow the application to access your
		repository data. 
	</p>
	<p class="center" style="width:50%;">
		If you have already authorized GitZen on your GitHub account for a
		previous GitZen user, GitHub will automatically authorize the user
		just created to access your account after clicking the following
		link if you are logged into GitHub, and you should be redirected
		straight to the confirmation page.
	</p>
	<button type="button" class="btn btn-primary" 
		onClick="window.location.href='{{ auth_url }}'">
		GitHub Authorization</button>
{% endblock %}
