{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<h1>GitZen</h1>
<h3><a href={% url change %}>Change Account Settings</a></h3>
<br/>

<h2>Enhancement Tracking</h2>
<br/>

<!-- TODO: Reformat tables to include the subject of each Zendesk ticket -->
{% if status %}
<div class="row">
<div class="span8 offest2">
    <h3>Currently Tracking</h3>
    {% if tracking %}
		<table class="table span8 offset2 table-center">
			<thead>
				<tr>
					<th>Association</th>
					<th>Zendesk Subject</th>
					<th>Last Zen Ticket Update</th>
					<th>Last Git Ticket Update</th>
					<th>Git Issue Labels</th>
				</tr>
			</thead>
			<tbody>
			{% for e in tracking %}
				<tr>
					<td>
						<a class="open" href="{{ zen_url }}/tickets/
						{{ e.z_id }}">Z{{ e.z_id }}</a> --&gt; 
						<a class="open" href="{{ e.g_url }}">G{{ e.g_id }}</a>
					</td>
				<td>{{ e.z_subject }}</td>
				<td class="open">{{ a.z_date }}</td>
				<td class="open">{{ a.g_date }}</td>
				<td>
				{% if a.g_labels %}
					{% for l in a.g_labels %}
						{% if not forloop.last %}
							{{ l }},
						{% else %}
							{{ l }}
						{% endif %}
					{% endfor %}
				{% else %}
					None
				{% endif %}
				</td>
			{% endfor %}
			</tbody>
		</table>
    {% else %}
        <p>There are currently no Enhancements being tracked.</p>
    {% endif %}
</div>
</div>
<br/>

<div class="row">
<div class="span8 offset2">
	<h3>Need Attention</h3>
    {% if need_attention %}
		<table class="table span8 offset2 table-center">
			<thead>
				<tr>
					<th>Association</th>
					<th>Zendesk Subject</th>
					<th>Last Zen Ticket Update</th>
					<th>Last Git Ticket Update</th>
					<th>Git Issue Labels</th>
				</tr>
			</thead>
			<tbody>
			{% for e in need_attention %}
				<tr>
					<td>
						<a class="open" href="{{ zen_url }}/tickets/
							{{ e.z_id }}">Z{{ e.z_id }}</a> --&gt; 
						<a class="closed" href="{{ e.g_url }}">G{{ e.g_id }}</a>
					</td>
					<td>{{ e.z_subject }}</td>
					<td class="open">{{ a.z_date }}</td>
					<td class="closed">{{ a.g_date }}</td>
					<td>
					{% if a.g_labels %}
						{% for l in a.g_labels %}
							{% if not forloop.last %}
								{{ l }},
							{% else %}
								{{ l }}
							{% endif %}
						{% endfor %}
					{% else %}
						None
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
        </table>
    {% else %}
        <p>There are currently no Enhancements in need of attention.</p>
    {% endif %}
</div>
</div>
<br/>

{% if broken_enh %}
<div class="row">
<div class="span8 offset2">
	<h3>Requested Enhancements with Improper GitHub Associations</h3>
	<p>The listing in the GitHub Association field should be in the format
	"gh-###" where the "###" is the GitHub issue number of the associated
	issue.</p>

	<table class="table table-striped span8 offset2 table-center">
		<thead>
			<tr>
				<th>Zendesk Ticket</th>
				<th>Subject</th>
				<th>Last Updated</th>
				<th>Association Field Data</th>
			</tr>
		</thead>
		<tbody>
		{% for e in broken_enh %}
			<tr>
				<td>
					<a class="open" href="{{ zen_url }}/tickets/
						{{ e.z_id }}">Z{{ e.z_id }}</a>
				</td>
				<td>{{ e.z_subject }}</td>
				<td>{{ e.z_date }}</td>
				<td>{{ e.broken_assoc }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
</div>
<br/>
{% endif %}

<div class="row">
<div class="span12">		
    <h3>Requested Enhancements not Associated with GitHub</h3>
    {% if not_tracking %}
	<table class="table table-striped span12 table-center">
			<thead>
				<tr>
					<th>Zendesk Ticket</th>
					<th>Last Updated</th>
					<th>Zendesk Ticket</th>
					<th>Last Updated</th>
					<th>Zendesk Ticket</th>
					<th>Last Updated</th>
					<th>Zendesk Ticket</th>
					<th>Last Updated</th>
				</tr>
			</thead>
			<tbody>
				<tr>
			{% for a in not_tracking %}
				<td>
					<a class="open" href="{{ zen_url }}/tickets/
						{{ a.z_id }}">Z{{ a.z_id }}</a>
				</td>
				<td>{{ a.z_date }}</td>
				<!-- The number parameter for divisibleby will be the number of
				tickect entries per row. -->
				{% if not forloop.counter|divisibleby:4 %}
					{% if forloop.last %}
						</tr>
					{% endif %}
				{% else %}
					</tr>
					<tr>
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
    {% else %}
		<p>There are currently no requested Enhancements without GitHub
			associations.</p>
    {% endif %}
{% else %}
	<p>There was an Error connecting to either GitHub or Zendesk. Try adjusting
		your account settings.</p>
{% endif %}
</div>
</div>

{% endblock %}
