{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extra_head %}
<!-- <link rel="stylesheet" type="text/css" 
	href="{{ STATIC_URL }}css/dataTables.css"> -->
<script type="text/javascript" language="javascript" 
	src="{{ STATIC_URL }}js/jquery.js"></script>
<script type="text/javascript" language="javascript"
	src="{{ STATIC_URL }}js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript"
	src="{{ STATIC_URL }}js/paging.js"></script>
<script type="text/javascript">
	$.extend( $.fn.dataTableExt.oStdClasses, {
				"sSortAsc": "header headerSortDown",
				"sSortDesc": "header headerSortUp",
				"sSortable": "header"
			} );

	$(document).ready(function() {
		$('.dataTable').dataTable( {
			"sDom": "<'row'<'span8'l><'span8'f>r>t<'row'<'span8'i><'span8'p>>",
			"sPaginationType": "bootstrap"
		} );
	} );
</script>
{% endblock %}

{% block body %}

<h1>GitZen</h1>
<h3><a href={% url change %}>Change Account Settings</a></h3>
<br/>

<h2>Enhancement Tracking</h2>
<br/>

{% if status %}
<div class="row">
<div class="span12">
	<h3>Need Attention</h3>
	<p>Requested enhancements whose GitHub ticket has been closed, but the
	Zendesk ticket still remains open.</p>
    {% if need_attention %}
		<table class="table span12 dataTable table-center">
			<thead>
				<tr>
					<th>Association</th>
					<th>Zendesk Subject</th>
					<th>Requester</th>
					<th>Last Zen Ticket Update</th>
					<th>Last Git Ticket Update</th>
				</tr>
			</thead>
			<tbody>
			{% for enhancement in need_attention %}
				<tr>
					<td>
						<a class="open" href="{{ zen_url }}/tickets/
							{{ enhancement.z_id }}">Z{{ enhancement.z_id }}</a> 
						--&gt; <a class="closed" href="{{ enhancement.g_url }}"
							>G{{ enhancement.g_id }}</a>
					</td>
					<td>{{ enhancement.z_subject }}</td>
					<td>{{ enhancement.z_requester }}</td>
					<td class="open">{{ enhancement.z_date }}</td>
					<td class="closed">{{ enhancement.g_date }}</td>
				</tr>
			{% endfor %}
			</tbody>
        </table>
    {% else %}
        <p>There are currently no Enhancements in need of attention.</p>
    {% endif %}
</div>
</div>
<br/>

<div class="row">
<div class="span12">
	<h3>Currently Tracking</h3>
	<p>Requested enhancements whose Zendesk ticket and associated GitHub ticket
	are still open and being worked on.</p>
    {% if tracking %}
		<table class="table span12 dataTable table-center">
			<thead>
				<tr>
					<th>Association</th>
					<th>Zendesk Subject</th>
					<th>Requester</th>
					<th>Last Zen Ticket Update</th>
					<th>Last Git Ticket Update</th>
				</tr>
			</thead>
			<tbody>
			{% for enhancement in tracking %}
				<tr>
					<td>
						<a class="open" href="{{ zen_url }}/tickets/
							{{ enhancement.z_id }}">Z{{ enhancement.z_id }}</a> 
						--&gt; <a class="open" href="{{ enhancement.g_url }}"
							>G{{enhancement.g_id }}</a>
					</td>
					<td>{{ enhancement.z_subject }}</td>
					<td>{{ enhancement.z_requester }}</td>
					<td class="open">{{ enhancement.z_date }}</td>
					<td class="open">{{ enhancement.g_date }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
    {% else %}
        <p>There are currently no Enhancements being tracked.</p>
    {% endif %}
</div>
</div>
<br/>

{% if broken_enhancements %}
<div class="row">
<div class="span12">
	<h3>Requested Enhancements with Improper GitHub Associations</h3>
	<p>The listing in the GitHub Association field should be in the format
	"gh-###" where the "###" is the GitHub issue number of the associated
	issue.</p>

	<table class="table table-striped span12 dataTable table-center">
		<thead>
			<tr>
				<th>Zendesk Ticket</th>
				<th>Subject</th>
				<th>Requester</th>
				<th>Last Updated</th>
				<th>Association Field Data</th>
			</tr>
		</thead>
		<tbody>
		{% for enhancement in broken_enhancements %}
			<tr>
				<td>
					<a class="open" href="{{ zen_url }}/tickets/
						{{ enhancement.z_id }}">Z{{ enhancement.z_id }}</a>
				</td>
				<td>{{ enhancement.z_subject }}</td>
				<td>{{ enhancement.z_requester }}</td>
				<td>{{ enhancement.z_date }}</td>
				<td>{{ enhancement.broken_assoc }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
</div>
<br/>
{% endif %}

<div class="row">
<div class="span10 offset1">		
	<h3>Requested Enhancements not Associated with GitHub</h3>
	<p>Zendesk tickets requesting an enhancement that has no associated GitHub
	ticket.</p>
    {% if unassociated_enhancements %}
	<table class="table table-striped span10 offset1 dataTable table-center">
		<thead>
			<tr>
				<th>Zendesk Ticket</th>
				<th>Subject</th>
				<th>Requester</th>
				<th>Last Updated</th>
			</tr>
		</thead>
		<tbody>
		{% for enhancement in unassociated_enhancements %}
			<tr>
				<td>
					<a class="open" href="{{ zen_url }}/tickets/
					{{ enhancement.z_id }}">Z{{ enhancement.z_id }}</a>
				</td>
				<td>{{ enhancement.z_subject }}</td>
				<td>{{ enhancement.z_requester }}</td>
				<td>{{ enhancement.z_date }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
    {% else %}
		<p>There are currently no requested Enhancements without GitHub
			associations.</p>
	{% endif %}
</div>
</div>
{% else %}
	<p>There was an Error connecting to either GitHub or Zendesk. Try adjusting
		your account settings.</p>
{% endif %}

{% endblock %}
