{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<h1>GitZen</h1>
<h3><a href={% url change %}>Change Account Data</a></h3>
<br/>

<h2>Enhancement Tracking</h2>
<br/>

{% if status.tracking %}
<div class="row">
<div class="span6">
    <h3>Currently Tracking</h3>
    {% if tracking %}
		<table class="table span6 center">
			<thead>
				<tr>
					<th>Association</th>
					<th>Last Zen Ticket Update</th>
					<th>Last Git Ticket Update</th>
					<th>Git Issue Labels</th>
				</tr>
			</thead>
			<tbody>
			{% for a in tracking %}
				<tr>
					<td>
						<a class="open" href="{{ zen_url }}/tickets/
						{{ a.z_id }}">Z{{ a.z_id }}</a> --&gt; 
						<a class="open" href="{{ a.g_url }}">G{{ a.g_id }}</a>
					</td>
				<td class="open">{{ a.z_date }}</td>
				<td class="open">{{ a.g_date }}</td>
				<td>
				{% if a.g_labels %}
					{% for l in a.g_labels %}
						{% if not forloop.last %}
							{{ l }},
						{% else %}
							{{ l }}
						{% endif %}
					{% endfor %}
				{% else %}
					None
				{% endif %}
				</td>
			{% endfor %}
			</tbody>
		</table>
    {% else %}
        <p>There are currently no Enhancements being tracked.</p>
    {% endif %}
    <br/>
</div>

<div class="span6">
	<h3>Need Attention</h3>
    {% if need_attention %}
		<table class="table span6 center">
			<thead>
				<tr>
					<th>Association</th>
					<th>Last Zen Ticket Update</th>
					<th>Last Git Ticket Update</th>
					<th>Git Issue Labels</th>
				</tr>
			</thead>
			<tbody>
			{% for a in need_attention %}
				<tr>
					<td>
					{% if a.closed == 'g' %}
						<a class="open" href="{{ zen_url }}/tickets/
							{{ a.z_id }}">Z{{ a.z_id }}</a> --&gt; 
						<a class="closed" href="{{ a.g_url }}">G{{ a.g_id }}</a>
					{% else %}
						<a class="closed" href="{{ zen_url }}/tickets/
							{{ a.z_id }}">Z{{ a.z_id }}</a> --&gt; 
						<a class="open" href="{{ a.g_url }}">G{{ a.g_id }}</a>
					{% endif %}
					</td>
					{% if a.closed == 'z' %}
						<td class="closed">{{ a.z_date }}</td>
					{% else %}
						<td class="open">{{ a.z_date }}</td>
					{% endif %}
					{% if a.closed == 'g' %}
						<td class="closed">{{ a.g_date }}</td>
					{% else %}
						<td class="open">{{ a.g_date }}</td>
					{% endif %}
					<td>
					{% if a.g_labels %}
						{% for l in a.g_labels %}
							{% if not forloop.last %}
								{{ l }},
							{% else %}
								{{ l }}
							{% endif %}
						{% endfor %}
					{% else %}
						None
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
        </table>
    {% else %}
        <p>There are currently no Enhancements in need of attention.</p>
    {% endif %}
    <br/>
</div>
</div>

    <h3>Requested Enhancements not Associated with GitHub</h3>
    {% if not_tracking %}
		<table class="table table-striped center" style="width:70%">
			<thead>
				<tr>
					<th>Zendesk Ticket</th>
					<th>Last Updated</th>
					<th>Zendesk Ticket</th>
					<th>Last Updated</th>
					<th>Zendesk Ticket</th>
					<th>Last Updated</th>
					<th>Zendesk Ticket</th>
					<th>Last Updated</th>
				</tr>
			</thead>
			<tbody>
				<tr>
			{% for a in not_tracking %}
				<td>
					<a class="open" href="{{ zen_url }}/tickets/
						{{ a.z_id }}">Z{{ a.z_id }}</a>
				</td>
				<td>{{ a.z_date }}</td>
				<!-- The number parameter for divisibleby will be the number of
				tickect entries per row. -->
				{% if not forloop.counter|divisibleby:4 %}
					{% if forloop.last %}
						</tr>
					{% endif %}
				{% else %}
					</tr>
					<tr>
				{% endif %}
			{% endfor %}
			</tbody>
		</table>
    {% else %}
		<p>There are currently no requested Enhancements without GitHub
			associations.</p>
    {% endif %}
{% else %}
	<p>There was an Error connecting to either GitHub or Zendesk. Try adjusting
		your account settings.</p>
{% endif %}

<br/>

<h2>Quick Reference</h2>
<br/>

<div class="row">
<div class="span6">
	<h3>GitHub Tickets</h3>
	{% if status.git %}
		<table class="table table-striped span6 center">
			<thead>
				<tr>
					<th>Issue</th>
					<th>Subject</th>
				</tr>
			</thead>
			<tbody>
			{% if git_tics %}
				{% for i in git_tics %}
					<tr>
						<td>
							<a href='https://github.com/{{ repo }}
								/issues/{{ i.number }}'>{{ i.number }}</a>
						</td>
						<td>
							{{ i.title }}
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td align="center" colspan="2">
						There are currently no open GitHub Tickets.
					</td>
				</tr>
			{% endif %}
			</tbody>
		</table>
	{% else %}
		<p align="center">There was an Error connecting to GitHub. Try
		adjusting your account settings.</p> 
	{% endif %}
</div>

<div class="span6">
	<h3>Zendesk Tickets</h3>
	{% if status.zen %}
		<table class="table table-striped span6 center">
			<thead>
				<tr>
					<th>ID</th>
    				<th>Subject</th>
				</tr>
			</thead>
			<tbody>
        	{% if zen_tics %}
            	{% for t in zen_tics %}
                	<tr>
						<td>
							<a href="{{ zen_url }}/tickets/
								{{ t.id }}">{{ t.id }}</a> 
           				</td>
                		<td>{{ t.subject }}</td>
                	</tr>
            	{% endfor %}
        	{% else %}
				<tr>
					<td align="center" colspan="2">
						There are currently no Zendesk Tickets.
					</td>
				</tr>
			{% endif %}
			</tbody>
		</table>
    {% else %}
		<p align="center">There was an Error connecting to Zendesk. Try
		adjusting your account settings.</p> 
	{% endif %}
</div>
</div>

{% endblock %}
