{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}

<h1>User Login</h1>
<br/>

<h2>Existing User</h2>
<form class="well" method="post">{% csrf_token %}
    {{ logform.non_field_errors }}
    <div class="fieldWrapper">
        {{ logform.username.errors }}
        <label for="id_username">Username:</label>
        {{ logform.username }}
    </div>
    <div class="fieldWrapper">
        {{ logform.password.errors }}
        <label for="id_password">Password:</label>
        {{ logform.password }}
    </div>
    <p><input name="log" type="submit" value="Login"/></p>
</form>

<br/>

<h2>New User</h2>
<form class="well" method="post">
	{{ uform.as_p }}
	{{ pform.as_p }}
	<p><input name="new" type="submit" value="Create User" /></p>
</form>

{% endblock %}
