{% extends "base.html" %}

{% block title %}Change Account Settings{% endblock %}

{% block extra_head %}
<script>
	$(document).ready(function() {
		$('#git_oauth_button').click(function() {
			window.location.href='{{ auth_url }}';
		});
	});
</script>
{% endblock %}

{% block body %}

<h1>Change Account Settings</h1>
<p>
	These are the account settings for the user {{ username }}. All fields are
	optional.
	<br/>
	<a href="{% url home %}">Return to Home</a>
</p>

<h2>Set Password</h2>
<form class="well" method="post">{% csrf_token %}
	{{ set_password_form.as_p }}
	<div class="actions">
		<button name="password_input" type="submit"
			class="btn btn-primary">Submit Change</button>
	</div>
</form>
<br/>

<h2>Change Profile</h2>
<form class="well" method="post">{% csrf_token %}
	{{ profile_change_form.as_p }}
	<div class="actions">
		<button name="profile_input" type="submit"
			class="btn btn-primary">Submit Changes</button>
	</div>
</form>

<h2>Change GitHub Authorization</h2>
<form class="well">
	<p class="center" style="width:70%;">
		If you want to revoke GitZen's access to GitHub, go under the
		applications settings of the account settings of the GitHub user who
		authorized the access and click the "revoke" button for GitZen. If you
		want to authorize or renew authorization of GitZen's access to Github,
		click the button bellow.
	</p>
	<button id="git_oauth_button" type="button" class="btn btn-primary"
		>GitHub Authorization</button>
</form>

{% endblock %}
