<html>
<head>
<style type="text/css">
    h1, h2, p, div{
        text-align:center;
    }
</style>
<title>Login</title> 
</head>

<body>
<h1>User Login</h1>
<br/>
<h2>Existing User</h2>
<form action="/" method="post">{% csrf_token %}
    {{ logform.non_field_errors }}
    <div class="fieldWrapper">
        {{ logform.username.errors }}
        <label for="id_username">Username:</label>
        {{ logform.username }}
    </div>
    <div class="fieldWrapper">
        {{ logform.password.errors }}
        <label for="id_password">Password:</label>
        {{ logform.password }}
    </div>
    <p><input name="log" type="submit" value="Login" /></p>
</form>

<br/>

<h2>New User</h2>
<form action="/" method="post">{% csrf_token %}
    {{ newform.non_field_errors }}
    <div class="fieldWrapper">
        {{ newform.username.errors }}
        <label for="id_username">Username:</label>
        {{ newform.username }}
    </div>
    <div class="fieldWrapper">
        {{ newform.password.errors }}
        <label for="id_password">Password:</label>
        {{ newform.password }}
    </div>
    <div class="fieldWrapper">
        {{ newform.affirmpass.errors }}
        <label for="id_affirmpass">Affirm Password:</label>
        {{ newform.affirmpass }}
    </div>    
    <div class="fieldWrapper">
        {{ newform.git_name.errors }}
        <label for="id_git_name">GitHub Username:</label>
        {{ newform.git_name }}
    </div>
    <div class="fieldWrapper">
        {{ newform.git_repo.errors }}
        <label for="id_git_repo">GitHub Repository:</label>
        {{ newform.git_repo }}
    </div>
    <div class="fieldWrapper">
        {{ newform.git_key.errors }}
        <label for="id_git_key">GitHub API Key:</label>
        {{ newform.git_key }}
    </div>
    <div class="fieldWrapper">
        {{ newform.zen_name.errors }}
        <label for="id_zen_name">Zendesk User Email:</label>
        {{ newform.zen_name }}
    </div>
    <div class="fieldWrapper">
        {{ newform.zen_url.errors }}
        <label for="id_zen_url">Zendesk URL:</label>
        {{ newform.zen_url }}
    </div>
   <div class="fieldWrapper">
        {{ newform.zen_pass.errors }}
        <label for="id_zen_pass">Zendesk Password:</label>
        {{ newform.zen_pass }}
    </div> 
    <p><input name="new" type="submit" value="Create User" /></p>
</form>


