<html>
<head>
<style type="text/css">
table, td, th {
border:1px solid black;
}
table.noborder, td.noborder, th.noborder {
border:0px;
}
td {
padding:5px;
}
a:link, a:visited {
text-decoration:none;
color:blue;
}

</style>
</head>

<body>
<table class="noborder" style="width:100%;">
<tr><th class="noborder" colspan="3"><h1>GitZen</h1></th></tr>
<tr>
<td class="noborder">
    <table>
    <tr>
    <th>Open GitHub Tickets</th>
    </tr>

    {% if gitTic %}
        {% for i in gitTic %}
            <tr><td><a href='/as/git/{{ i.number }}/'>{{ i.number }}.</a> 
            {{ i.title }}</td></tr>
        {% endfor %}
    {% else %}
        <tr><td>There are currently no open GitHub Tickets.</td></tr>
    {% endif %}
    </table>
</td>

<td class="noborder">
    <table>
    <tr>
    <th colspan="2">Zendesk Tickets</th>
    </tr>
    <tr>
    <th>Subject</th>
    <th>Requester</th>
    </tr>

    {% if zenTics %}
        {% for t in zenTics %}
            <tr>
            <td><a href="/as/zen/t{{ t.id }}/">{{ t.id }}.</a> 
            {{ t.subject }}</td>
            <td>{{ t.req_name }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><td>There are currently no Zendesk Tickets.</td></tr>
    {% endif %}
    </table>
</td>

<td class="noborder">
    <table>
    <tr>
    <th colspan="3">Zendesk Users</th>
    </tr>
    <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Organization</th>
    </tr>

    {% if zenUsers %}
        {% for u in zenUsers %}
            <tr>
            <td align="center"><a href="/as/zen/u{{ u.id }}/"
            >{{ u.name }}</a></td>
            <td>{{ u.email }}</td>
            <td>{{ u.org_name }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><td>There are currently no Zendesk users.</td></tr>
    {% endif %}
    </table>
</td>
</tr>
</table>

<form action="/as/" method="post">{% csrf_token %}
    <h2>Create New Association</h2>
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.gnum.errors }}
        <label for="id_gnum">GitHub Issue Ticket Number:</label>
        {{ form.gnum }}
    </div>
    <div class="fieldWrapper">
        {{ form.znum.errors }}
        <label for="id_znum">Zendesk Incident Number:</label>
        {{ form.znum }}
    </div>
    <div class="fieldWrapper">
        {{ form.notes.errors }}
        <label for="id_notes">Notes:</label>
        {{ form.notes }}
    </div>
    <p><input type="submit" value="Submit" /></p>
</form>

<h1>Associations<br/></h1>
{% if assocs %}
    <table>
    <tr>
    <th>Association</th>
    <th>Date Created</th>
    <th>Git Labels</th>
    <th>Git Status</th>
    <th>Additional Notes</th>
    </tr>
    {% for a in assocs %}
        <tr>
        <td align="center"><a href="/as/zen/{{ a.zen }}/">Z{{ a.zen }}</a> --&gt; 
        <a href="/as/git/{{ a.git }}/">G{{ a.git }}</a></td> 
        <td align="center">{{ a.date }}</td>
        <td align="center">
        {% for num, labs in gitLabels.items %}
            {% if num == a.git %}
                {% if labs %}
                    {% for lab in labs %}
                        {{ lab }}, 
                    {% endfor %}
                {% else %}
                    None
                {% endif %}
            {% endif %}
        {% endfor %}
        </td>
        <td> 
        {% if a.git in opentickets%}
            <span style="color:green">Open (
            {% for num, date in dates.items %}
                {% if num == a.git %}
                    {{ date }})
                {% endif %}
            {% endfor %}
            </span>
        {% else %}
            <span style="color:red">Closed (
            {% for num, date in dates.items %}
                {% if num == a.git %}
                    {{ date }})
                {% endif %}
            {% endfor %}
            </span>
        {% endif %}</td>
        <td>{{ a.notes }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>There are currently no active Associations.</p>
{% endif %}
</body>
</html>
