<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" 
		href="{{ STATIC_URL }}css/bootstrap.min.css">
	{% block extra_css %}{% endblock %}
	<link rel="stylesheet" type="text/css"
		href="{{ STATIC_URL }}css/site_specific.css">

	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<div class="container">
		{% block body %}{% endblock %}
	</div>
	<script type="text/javascript" language="javascript"
		src="{{ STATIC_URL }}js/jquery.js"></script>
	{% block extra_javascript %}{% endblock %}
</body>
</html>
