{% extends "base.html" %}

{% block title %}Change Account Settings{% endblock %}

{% block extra_javascript %}
<script>
	$(document).ready(function() {
		$('#git_oauth_button').click(function() {
			window.location.href='{{ auth_url }}';
		});
	});
</script>
{% endblock %}

{% block body %}

<h1>Change Account Settings</h1>
<p>
	All fields are optional. Changing the User password requires entering of the
	previous User password.
	<br/>
	<a href="{% url home %}">Return to Home</a>
</p>

<h2>Change Password</h2>
<form class="well" method="post">{% csrf_token %}
	{{ password_change_form.as_p }}
	<div class="actions">
		<button name="password_input" type="submit"
			class="btn btn-primary">Submit Change</button>
	</div>
</form>
<br/>

<h2>Change Profile</h2>
<form class="well" method="post">{% csrf_token %}
	{{ profile_change_form.as_p }}
	<div class="actions">
		<button name="profile_input" type="submit"
			class="btn btn-primary">Submit Changes</button>
	</div>
</form>

{% endblock %}
