<html>
<head>
<style type="text/css">
    h1, p, div{
        text-align:center;
    }
</style>
<title>Change Account Data</title>
</head>

<body>
<h1>Change Account Data</h1>
<p style="width:30%;margin-left:auto;margin-right:auto">All fields are 
optional. Changing the User password requires entering of the previous 
User password.</p>
<br/>

<form action="/change/" method="post">{% csrf_token %}
    {{ changeform.non_field_errors }}
    <div class="fieldWrapper">
        {{ changeform.old_pass.errors }}
        <label for="id_old_pass">Old Password:</label>
        {{ changeform.old_pass }}
    </div>
    <div class="fieldWrapper">
        {{ changeform.new_pass.errors }}
        <label for="id_new_pass">New Password:</label>
        {{ changeform.new_pass }}
    </div>
    <div class="fieldWrapper">
        {{ changeform.aff_pass.errors }}
        <label for="id_aff_pass">Affirm New Password:</label>
        {{ changeform.aff_pass }}
    </div>    
    <div class="fieldWrapper">
        {{ changeform.git_name.errors }}
        <label for="id_git_name">GitHub Username:</label>
        {{ changeform.git_name }}
    </div>
    <div class="fieldWrapper">
        {{ changeform.git_repo.errors }}
        <label for="id_git_repo">GitHub Repository:</label>
        {{ changeform.git_repo }}
    </div>
    <div class="fieldWrapper">
        {{ changeform.git_key.errors }}
        <label for="id_git_key">GitHub API Key:</label>
        {{ changeform.git_key }}
    </div>
    <div class="fieldWrapper">
        {{ changeform.zen_name.errors }}
        <label for="id_zen_name">Zendesk User Email:</label>
        {{ changeform.zen_name }}
    </div>
    <div class="fieldWrapper">
        {{ changeform.zen_pass.errors }}
        <label for="id_zen_pass">Zendesk Password:</label>
        {{ changeform.zen_pass }}
    </div> 
    <div class="fieldWrapper">
        {{ changeform.zen_url.errors }}
        <label for="id_zen_url">Zendesk URL:</label>
        {{ changeform.zen_url }}
    </div>
    <div class="fieldWrapper">
        {{ changeform.zen_viewid.errors }}
        <label for="id_zen_url">Zendesk Ticket View ID:</label>
        {{ changeform.zen_viewid }}
	</div>
	<div class="fieldWrapper">
		{{ changeform.zen_fieldid.errors }}
		<label for="id_zen_fieldid">Zendesk Ticket Association Field</label>
		{{ changeform.zen_fieldid }}
	</div>
    <p><input name="change" type="submit" value="Submit Changes" /></p>
</form>
</body>
</html>
