<html>
<head>
<style type="text/css">
    table, td, th {
		border:1px solid black;
    }
    table.noborder, td.noborder, th.noborder {
        border:0px;
	}
	table.ref_tics {
		width:35%;
	}
	table.ref_users {
		width:60%;
		margin-left:20%;
		margin-right:20%;
	}
    td {
		padding:5px;
		text-align:center;
	}
	table#table_tics {
		width:84%;
		margin-left:8%;
		margin-right:8%;
	}

    a:link, a:visited {
        text-decoration:none;
        color:blue;
	}

    h1, h2, h3{
        text-align:center;
    }
</style>
<title>Home</title>
</head>

<body>
<h1>GitZen</h1>
<h3><a href="/change/">Change Account Data</a></h3>
<br/>

<h2>Associations</h2>
{% if working.c_assocs %}
    <h3>Closed Associations</h3>
    {% if c_assocs %}
        <table align="center" style="width:75%">
        <tr>
        <th>Association</th>
        <th>Zendesk User</th>
        <th>Last Zen Ticket Update</th>
        <th>GitHub User</th>
        <th>Git Issue Labels</th>
        <th>Git Status</th>
        </tr>
        {% for a in c_assocs %}
            <tr>
            <td align="center"><a href="{{ zen_url }}/tickets/{{ a.znum }}?col={{ zen_viewid }}">Z{{ a.znum }}</a> --&gt; 
            <a href="https://github.com/{{ repo }}/issues/{{ a.gnum }}">G{{ a.gnum }}</a></td>
            <td align="center">{{ a.zuser }}</td>
            <td align="center">{{ a.zdate }}</td>
            <td align="center">{{ a.guser }}</td>
            <td align="center">
            {% if a.glabels %}
                {% for b in a.glabels %}
                    {{ b }},
                {% endfor %}
            {% else %}
                None
            {% endif %}
            </td>
            <td align="center">
                <span style="color:red">Closed ({{ a.gdate }})</span>
            </td>
        {% endfor %}
        </table>
    {% else %}
        <p align="center">There are currently no Associations ready to be closed.</p>
    {% endif %}
    <br/>

    <h3>Open Associations</h3>
    {% if o_assocs %}
        <table align="center" style="width:75%">
        <tr>
        <th>Association</th>
        <th>Zendesk User</th>
        <th>Last Zen Ticket Update</th>
        <th>GitHub User</th>
        <th>Git Issue Labels</th>
        <th>Git Status</th>
        </tr>
        {% for a in o_assocs %}
            <tr>
            <td align="center"><a href="{{ zen_url }}/tickets/{{ a.znum }}?col={{ zen_viewid }}">Z{{ a.znum }}</a> --&gt; 
            <a href="https://github.com/{{ repo }}/issues/{{ a.gnum }}">G{{ a.gnum }}</a></td>
            <td align="center">{{ a.zuser }}</td>
            <td align="center">{{ a.zdate }}</td>
            <td align="center">{{ a.guser }}</td>
            <td align="center">
            {% if a.glabels %}
                {% for b in a.glabels %}
                    {{ b }},
                {% endfor %}
            {% else %}
                None
            {% endif %}
            </td>
            <td align="center"> 
                <span style="color:green">Open ({{ a.gdate }})</span>
            </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p align="center">There are currently no open Associations.</p>
    {% endif %}
    <br/>

    <h3>Not Associated with GitHub</h3>
    {% if no_assocs %}
        <table align="center" style="width:50%">
        <tr>
        <th>Zendesk Ticket</th>
        <th>Zendesk User</th>
        <th>Last Updated</th>
        <th>Displayed Association</th>
        </tr>
        {% for a in no_assocs %}
            <tr>
            <td align="center"><a href="{{ zen_url }}/tickets/{{ a.znum }}?col={{ zen_viewid }}">Z{{ a.znum }}</a></td>
            <td align="center">{{ a.zuser }}</td>
            <td align="center">{{ a.zdate }}</td>
            <td align="center">{{ a.dassoc }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p align="center">There are currently no Zendesk Tickets without Git
        Associations.</p>
    {% endif %}
{% else %}
    <p align="center">There was an Error connecting to either GitHub or
    Zendesk. Try adjusting your account settings.</p>
{% endif %}

<br/><br/>

<h2>Quick Reference</h2>
<br/>

<table id="table_tics" class="noborder">
<col width="90%" />
<tr>
<td class="noborder">
    <table>
    <tr>
    	<th colspan="2">Open GitHub Tickets</th>
	</tr>
	<tr>
		<th>Issue #</th>
		<th>Subject</th>
	</tr>

    {% if working.git %}
        {% if git_tics %}
            {% for i in git_tics %}
			<tr>
				<td>
					<a href='https://github.com/{{ repo }}
						/issues/{{ i.number }}'>{{ i.number }}</a>
				</td>
				<td>
					{{ i.title }}
				</td>
			</tr>
            {% endfor %}
        {% else %}
		<tr><td align="center">There are currently no open 
				GitHub Tickets.</td></tr>
		<tr><td align="center">There was an Error connecting to GitHub. Try 
        {% endif %}
    {% else %}
		<tr><td align="center">There was an Error connecting to GitHub. Try 
		adjusting your account settings.</td></tr>
    {% endif %}
    </table>
</td>

<td class="noborder">
    <table>
    <tr>
    <th colspan="2">Zendesk Tickets</th>
    </tr>
    <tr>
    <th>Subject</th>
    <th>Requester</th>
    </tr>

    {% if working.zen %}
        {% if zen_tics %}
            {% for t in zen_tics %}
                <tr>
                <td><a href="{{ zen_url }}/tickets/{{ t.id }}?col={{ zen_viewid }}">{{ t.id }}.</a> 
                {{ t.subject }}</td>
                <td>{{ t.req_name }}</td>
                </tr>
            {% endfor %}
        {% else %}
			<tr><td align="center" colspan="2">There are currently no Zendesk
			Tickets.</td></tr>
        {% endif %}
    {% else %}
		<tr><td align="center" colspan="2">There was an Error connecting 
		to Zendesk. Try adjusting your account settings.</td></tr>
    {% endif %}
    </table>
</td>
</tr>
</table>

<br/>

<table class="ref_users">
    <tr>
    	<th colspan="3">Zendesk Users</th>
    </tr>
    <tr>
		<th>Name</th>
		<th>Email</th>
		<th>Organization</th>
    </tr>

    {% if working.zen %}
        {% if zen_users %}
            {% for u in zen_users %}
                <tr>
                <td align="center"><a href="{{ zen_url }}/users/{{ u.id }}"
                >{{ u.name }}</a></td>
                <td>{{ u.email }}</td>
                <td>{{ u.org_name }}</td>
                </tr>
            {% endfor %}
        {% else %}
			<tr><td align="center" colspan="3">There are currently no Zendesk 
			users.</td></tr>
        {% endif %}
    {% else %}
		<tr><td align="center" colspan="3">There was an Error connecting 
		to Zendesk. Try adjusting your account settings.</td></tr>
    {% endif %}
</table>

</body>
</html>
