<html>
<head>
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">

<style type="text/css">
	h2, p, a, div {
		text-align:center;
	}
</style>

<title>Error</title>
</head>

<body>
<div class="container">
	<h2>Error</h2>

    <p>
    {% if nope_num == '1' %}
        The user entered does not exist.
        <br/>
        <a href="/">Return to Login</a>
    {% else %}
        {% if nope_num == '2' %}
			The entered user password was not equal to the entered affirming 
			password.
			<br/>
            <a href="/">Return to Login</a>
        {% else %}
            {% if nope_num == '3' %}
                The entered old password was incorrect.
				<br/>
				<a href="/home/">Return to Homepage</a>
            {% else %}
                {% if nope_num == '4' %}
					The entered user password was not equal to the entered 
					affirming password.
					<br/>
                    <a href="/home/">Return to Homepage</a>
                {% else %}
                    You should not be viewing this page.
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
	</p>
</div>
</body>
</html>
